<header class="py-3 sticky-top page-header bg-white">
  <app-container>
    <section class="d-flex align-items-center">
      <app-icon-button icon="arrow_back" link="/catalogue"></app-icon-button>
      <h2 class="fw-bold m-0">Trainer</h2>
    </section>
  </app-container>
</header>

<app-container>
  <main class="pb-5">
    <h4>Hey {{ trainerName }}!</h4>
    <app-trainer-collection></app-trainer-collection>
  </main>
</app-container>
