<footer class="fixed-bottom bg-white py-3 border-top">
  <app-container>
    <section class="footer-actions text-center">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary d-flex" (click)="onPrevClick()" [disabled]="currentPage === 1">
          <span class="material-icons">chevron_left</span>
          Prev
        </button>
        <button disabled class="btn btn-outline-primary">{{ currentPage }}/ {{ pageCount }}</button>
        <button type="button" class="btn btn-outline-primary d-flex" (click)="onNextClick()" [disabled]="currentPage === pageCount">
          Next
          <span class="material-icons">chevron_right</span>
        </button>
      </div>
    </section>
  </app-container>
</footer>
