<section class="types">
  <ul class="type-list">
    <li class="type shadow-sm" *ngFor="let type of types" [ngClass]="'bg-type-'+type.type.name">
      {{ type.type.name }}
    </li>
  </ul>
</section>
