.type-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  padding: .25rem .7rem;
  font-size: .85em;
  font-weight: bold;
  border-radius: 1rem;
  border: 2px solid white;
  margin-right: .5rem;
}

.type:last-child {
  margin-right: 0;
}
