<section class="catch-pokemon d-flex justify-content-center py-3"
         [ngClass]="{ 'caught': existsInCollection }">
  <button class="btn btn-danger d-flex text-capitalize" (click)="onCatchClick()">
    <i class="material-icons">pan_tool</i>&nbsp;
    Catch {{ pokemonName }}
  </button>
</section>
