:root {
  --type-normal: #A8A77A;
  --type-fire: #EE8130;
  --type-water: #63a9f0;
  --type-electric: #F7D02C;
  --type-grass: #4cc7b0;
  --type-ice: #96D9D6;
  --type-fighting: #C22E28;
  --type-poison: #A33EA1;
  --type-ground: #E2BF65;
  --type-flying: #A98FF3;
  --type-psychic: #F95587;
  --type-bug: #A6B91A;
  --type-rock: #B6A136;
  --type-ghost: #735797;
  --type-dragon: #6F35FC;
  --type-dark: #705746;
  --type-steel: #B7B7CE;
  --type-fairy: #D685AD;
}

.bg-type-normal {
  background-color: var(--type-normal);
}

.bg-type-fire {
  background-color: var(--type-fire);
}

.bg-type-water {
  background-color: var(--type-water);
}

.bg-type-electric {
  background-color: var(--type-electric);
}

.bg-type-grass {
  background-color: var(--type-grass);
}

.bg-type-ice {
  background-color: var(--type-ice);
}

.bg-type-fighting {
  background-color: var(--type-fighting);
  color: white;
}

.bg-type-poison {
  background-color: var(--type-poison);
  color: white;
}

.bg-type-ground {
  background-color: var(--type-ground);
}

.bg-type-flying {
  background-color: var(--type-flying);
}

.bg-type-psychic {
  background-color: var(--type-psychic);
}

.bg-type-bug {
  background-color: var(--type-bug);
}

.bg-type-rock {
  background-color: var(--type-rock);
}

.bg-type-ghost {
  background-color: var(--type-ghost);
}

.bg-type-dragon {
  background-color: var(--type-dragon);
}

.bg-type-dark {
  background-color: var(--type-dark);
}

.bg-type-steel {
  background-color: var(--type-steel);
}

.bg-type-fairy {
  background-color: var(--type-fairy);
}
