<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
  <fieldset class="mb-3">

    <label for="trainerName" class="form-label visually-hidden">Trainer name</label>
    <input type="text"
           class="form-control form-control-lg"
           [ngClass]="{ 'is-valid': trainerName.valid }"
           placeholder="What's your trainer name?"
           ngModel #trainerName="ngModel"
           id="trainerName" name="trainerName"
           required
           minlength="2"
           maxlength="80">

    <section class="invalid-feedback" *ngIf="trainerName.invalid && (trainerName.dirty || trainerName.touched)">
      <p *ngIf="trainerName.errors?.required">You have to enter a trainer name</p>
      <p *ngIf="trainerName.errors?.minlength">Your trainer name is too short</p>
      <p *ngIf="trainerName.errors?.maxlength">Your trainer name is too long</p>
    </section>
  </fieldset>
  <button class="btn btn-danger btn-lg" [disabled]="loginForm.invalid">Login</button>
</form>
