<article *ngIf="pokemon" class="catalogue-item shadow-sm">
  <header class="catalogue-item__header">
    <img [src]="pokemon.image" [alt]="pokemon.name" width="100">
  </header>
  <h4 class="fw-bold">{{ pokemon.name }}</h4>
</article>
