.pokemon-detail-content {
  position: relative;
  z-index: 99;
  margin-top: -2em;
  display: grid;
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .pokemon-detail-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
