<app-container>
  <header class="py-3">
    <h2 class="fw-bold">Login</h2>
    <p>Choose a trainer name to get started</p>
  </header>

  <app-login-form (success)="handleLoginSuccess()"></app-login-form>
</app-container>
