<section class="stats p-4 rounded shadow-sm bg-white mb-3">
  <h4>Abilities</h4>

  <div class="text-center py-4" *ngIf="abilities.length === 0">
    <div class="spinner-border mx-auto text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


  <ul class="ability-list">
    <li class="ability" *ngFor="let ability of abilities">
      <h6 class="text-capitalize">{{ ability.name }}</h6>
      <p>{{ ability.effect_entries[0].effect }}</p>
    </li>
  </ul>
</section>
