@import "styles/types";

.bg-gray-dark {
  background-color: var(--bs-gray-dark);
}

.invalid-feedback {
  display: block;
}

.icon-only {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header {
  transition: background-color ease-in-out 350ms;
  z-index: 999;
}

.page-title {
  margin-bottom: 0;
  font-weight: bold;
}

.is-scrolling .page-header {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-top: 2rem;
}


